:root{
  --text-color:rgb(113 105 105);
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  line-height: 1.3rem;
  color: var(--text-color);
  font-weight: 500;
  width: 75% !important;
}
@media (max-width: 1199.98px) { 
  p{
    line-height: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
    width: 80% !important;
  } 
  }
@media (min-width: 576px) and (max-width: 767.98px) { 
  p{
    line-height: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
    width: 50% !important;
  }
 }


/* @media (min-width: 768px)  { 
  p{
    line-height: 1.1rem;
    width: 70% !important;
    color: var(--text-color);
    font-weight: 400;
  }

} */
h1{
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
}

/* h6{
  position: relative;
}
h6::after{
  content: " ";
  border: 2px solid #000;
  width: 200px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,50%);
} */
